@font-face {
  font-family: "vazir";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Vazir.woff) format("woff");
}
@font-face {
  font-family: "vazir";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/Vazir-Bold.woff) format("woff");
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* list-style: none; */
}

html {
  direction: rtl;
  font-size: 62.5%;
}

input {
  direction: ltr;
}

body {
  margin: 0;
  font-family: "vazir";
  font-size: 1.4rem;
  line-height: 1.7;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.block {
  display: block;
  width: 100%;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: #21aa58;
}

.btn-secondary {
  color: rgba(12, 12, 12, 0.7490196078);
  background-color: #fff;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
}
.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem;
}
.header .nav .logo img {
  -o-object-fit: cover;
     object-fit: cover;
}
.header .nav .hamburgur {
  padding: 1rem;
  cursor: pointer;
}
.header .nav .hamburgur__line {
  width: 20px;
  height: 2px;
  background-color: #333;
  margin-bottom: 3px;
  border-radius: 5px;
  transition: all 0.4s ease-out;
}
.header .nav .menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100vh;
  background-color: #fff;
  color: rgba(12, 12, 12, 0.7490196078);
  border-top: 2px solid #e5e5e5;
  padding: 0.5rem 1rem;
  text-align: center;
  display: none;
}
.header .nav .menu.active {
  display: flex;
}
.header .nav .menu li {
  border-bottom: 1px solid #eee;
  padding: 1rem 0;
}
.header .nav .menu li a {
  color: rgba(12, 12, 12, 0.7490196078);
}

.hero-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-1__left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-1__right {
  background-color: #21aa58;
  padding: 2rem 3rem;
}
.hero-1__right h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
.hero-1__right p {
  color: #fff;
  text-align: justify;
  margin: 2rem 0;
}
.hero-1__right .desktop {
  display: none;
}
.hero-1__right .btn {
  margin-top: 3rem;
  display: block;
}
.hero-1__right .btn a {
  color: rgba(12, 12, 12, 0.7490196078);
  font-weight: bold;
  display: block;
}

.social-desktop {
  display: none;
}

.snapp-apk {
  background-color: #f2f5f8;
}
.snapp-apk .container {
  padding: 4rem 2rem;
}
.snapp-apk .container .title {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 1.8rem;
}
.snapp-apk .container .snapp-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: rgba(12, 12, 12, 0.7490196078);
}
.snapp-apk .container .snapp-list__item {
  width: 30%;
  margin-bottom: 0.5rem;
  margin: 0.5rem 0;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #eee;
}
.snapp-apk .container .snapp-list__item a {
  padding: 1rem 1rem;
  display: block;
  color: rgba(12, 12, 12, 0.7490196078);
}
.snapp-apk .container .snapp-list__item a img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
.snapp-apk .container .snapp-list__item a h3 {
  font-size: 1.1rem;
}
.snapp-apk .container .snapp-list__item span {
  display: none;
}

.order-food__slider {
  padding: 2rem 2rem;
  margin: 1rem 0;
  width: 100%;
  height: 200px;
  border-radius: 8px;
  overflow: hidden;
}
.order-food__slider img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.order-food__super-apk .super-apk__right {
  width: 100%;
  height: 300px;
}
.order-food__super-apk .super-apk__right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.order-food__super-apk .super-apk__left {
  padding: 1rem 2rem;
}
.order-food__super-apk .super-apk__left h2 {
  margin: 1.5rem 0;
  font-weight: 700;
}
.order-food__super-apk .super-apk__left p {
  text-align: justify;
}
.order-food__quick-way {
  margin: 4rem 0;
  padding: 1rem 2rem;
}
.order-food__quick-way ul {
  display: flex;
  flex-direction: column;
}
.order-food__quick-way ul li .image {
  background-color: #f2f5f8;
  text-align: center;
  border-radius: 8px;
}
.order-food__quick-way ul li .detail {
  padding: 1rem 1rem;
}
.order-food__quick-way ul li .detail h3 {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 1rem 0;
}
.order-food__quick-way ul li .detail p {
  font-size: 1.3rem;
  text-align: justify;
  margin: 1.5rem 0;
}

.sign-driver {
  background-color: #f2f5f8;
  padding: 3rem 2rem;
}
.sign-driver h2 {
  text-align: center;
  font-size: 2.1rem;
  font-weight: 700;
  margin: 1rem 0;
}
.sign-driver p {
  font-size: 1.5rem;
  text-align: justify;
  margin-top: 3rem;
}
.sign-driver span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-driver span a.btn {
  display: block;
  margin: 4rem 0;
  width: 50%;
}
.sign-driver video {
  width: 100%;
  height: auto;
}
.sign-driver__detail {
  margin: 5rem 0;
}
.sign-driver__detail ul li {
  background-color: #fff;
  border-radius: 8px;
  padding: 1.5rem 1rem;
  margin-bottom: 2rem;
}
.sign-driver__detail ul li .icon {
  text-align: center;
}
.sign-driver__detail ul li .icon img {
  width: 180px;
  height: 100px;
}
.sign-driver__detail ul li .detail h2 {
  font-size: 1.7rem;
}
.sign-driver__detail ul li .detail p {
  text-align: justify;
}

footer .footer-menu {
  padding: 1.5rem 1rem;
}
footer .footer-menu ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
footer .footer-menu ul li {
  margin: 2rem 0 0.7rem 0.2rem;
  border-bottom: 1px solid #eee;
}
footer .footer-menu ul li a {
  display: block;
  padding: 0 1rem;
  color: rgba(12, 12, 12, 0.7490196078);
}
footer .footer-social {
  text-align: center;
  padding: 2rem 1rem;
}
footer .footer-social ul {
  display: flex;
  justify-content: center;
}
footer .footer-social ul li {
  margin-left: 4rem;
}
footer .footer-social ul li a {
  display: block;
  color: rgba(12, 12, 12, 0.7490196078);
}
footer .footer-social ul li a i {
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .header .nav {
    display: flex;
    justify-content: unset;
    padding: 2rem 2rem;
  }
  .header .nav .hamburgur {
    display: none;
  }
  .header .nav .menu {
    display: flex;
    flex-direction: row;
    justify-content: unset;
    background-color: unset;
    width: unset;
    height: unset;
    border: unset;
    margin-right: 1rem;
  }
  .header .nav .menu li {
    border: unset;
    margin-left: 1.5rem;
  }
  .header .nav .menu li:hover {
    font-weight: bold;
  }
  .hero-1 {
    display: flex;
    flex-direction: row;
    align-items: unset;
  }
  .hero-1__left {
    order: 2;
    flex-basis: 50%;
  }
  .hero-1__left img {
    -o-object-fit: fill;
       object-fit: fill;
  }
  .hero-1__right {
    order: 1;
    flex-basis: 50%;
  }
  .hero-1__right .desktop {
    display: block;
  }
  .hero-1__right .desktop input[type=text] {
    padding: 1.5rem 2rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #eee;
    display: inline-block;
    margin-left: 2rem;
    transition: all 0.4s ease-out;
    text-align: right;
    color: #fff;
    outline: 0;
  }
  .hero-1__right .desktop .btn.send-link {
    padding: 0.7rem 2.5rem;
    display: inline-flex;
    color: #21aa58;
  }
  .hero-1__right .desktop .btn.intro-link {
    display: block;
    padding: 1rem 1rem;
    border: 1px solid #eee;
    margin-top: 3rem;
    transition: all 0.4s ease-in-out;
  }
  .hero-1__right .desktop .btn.intro-link a {
    color: #fff;
  }
  .hero-1__right .desktop .btn.intro-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .hero-1__right .mobile {
    display: none;
  }
  .social-desktop {
    display: unset;
    margin: 2rem 0;
  }
  .social-desktop ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4rem 0;
  }
  .social-desktop ul li {
    margin: 0 1rem;
    margin-right: 15px;
    margin-bottom: 2rem;
  }
  .social-desktop ul li a {
    display: block;
    width: 160px;
  }
  .social-desktop ul li a img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .snapp-apk .container {
    padding: 6rem 2rem;
  }
  .snapp-apk .container .title {
    margin-bottom: 5rem;
    font-size: 3rem;
  }
  .snapp-apk .container .snapp-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: rgba(12, 12, 12, 0.7490196078);
  }
  .snapp-apk .container .snapp-list__item {
    border-radius: 16px;
  }
  .snapp-apk .container .snapp-list__item a img {
    width: 60px;
    height: 60px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .snapp-apk .container .snapp-list__item a h3 {
    font-size: 1.4rem;
    margin-top: 0.5rem;
  }
  .order-food__slider {
    padding: 0 0;
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .order-food__slider img {
    width: 70%;
    -o-object-fit: fill;
       object-fit: fill;
    border-radius: 8px;
  }
  .order-food__super-apk .super-apk__left {
    padding: 1rem 6rem;
  }
  .order-food__quick-way ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .order-food__quick-way ul li {
    margin-left: 4px;
    overflow: hidden;
    padding: 1rem 2rem;
    border: 1px solid #eee;
  }
  .order-food__quick-way ul li .image {
    border-radius: 8px;
  }
  .order-food__quick-way ul li .detail {
    padding: 1rem 1rem;
  }
  .order-food__quick-way ul li .detail h3 {
    text-align: center;
  }
  .sign-driver {
    padding: 3rem 6rem;
  }
  .sign-driver h2 {
    font-size: 2.6rem;
  }
  .sign-driver p {
    font-size: 1.9rem;
    text-align: center;
  }
  .sign-driver span a.btn {
    width: 30%;
  }
  .sign-driver__detail {
    margin: 5rem 0;
  }
  .sign-driver__detail ul li {
    padding: 2.5rem 2rem;
  }
  .sign-driver__detail ul li .detail p {
    font-size: 1.4rem;
    text-align: center;
  }
}
@media screen and (min-width: 1080px) {
  .hero-1__right {
    background-color: #21aa58;
    padding: 2rem 3rem;
  }
  .hero-1__right .btn {
    margin-top: 0;
  }
  .hero-1__right h1 {
    font-size: 3rem;
  }
  .hero-1__right p {
    margin: 2rem 5rem;
    font-size: 1.8rem;
    text-align: center;
  }
  .hero-1__right .desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 3rem;
  }
  .hero-1__right .desktop input[type=text] {
    padding: 0 3rem;
    cursor: pointer;
  }
  .hero-1__right .desktop .btn.send-link {
    padding: 1rem 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-1__right .desktop .btn.intro-link {
    display: block;
    width: 100%;
    padding: 2rem 1rem;
    margin-top: 4rem;
  }
  .hero-1__right .mobile {
    display: none;
  }
  .order-food__super-apk {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .order-food__super-apk .super-apk__right {
    height: 400px;
    flex-basis: 50%;
    padding: 0 0;
  }
  .order-food__super-apk .super-apk__left {
    flex-basis: 50%;
  }
  .order-food__super-apk .super-apk__left p {
    max-width: 600px;
    text-align: justify;
  }
  .order-food__quick-way ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .order-food__quick-way ul li {
    margin-left: 4px;
    overflow: hidden;
    padding: 1rem 2rem;
    border: 1px solid #eee;
  }
  .order-food__quick-way ul li .image {
    border-radius: 8px;
  }
  .order-food__quick-way ul li .detail {
    padding: 1rem 1rem;
  }
  .order-food__quick-way ul li .detail h3 {
    text-align: center;
  }
  .sign-driver {
    background-color: #f2f5f8;
    padding: 3rem 2rem;
  }
  .sign-driver h2 {
    font-size: 3.5rem;
  }
  .sign-driver p {
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
  }
  .sign-driver span a.btn {
    margin: 6rem 0;
  }
  .sign-driver video {
    width: 100%;
    height: auto;
    border-radius: 16px;
  }
  .sign-driver__detail ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .sign-driver__detail ul li {
    display: flex;
    align-items: center;
    flex-basis: 49%;
    padding: 4rem 2rem;
  }
  .sign-driver__detail ul li .icon {
    text-align: center;
  }
  .sign-driver__detail ul li .icon img {
    width: 80px;
    height: 40px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .sign-driver__detail ul li .detail {
    max-width: 80%;
    margin-right: 1rem;
  }
  .sign-driver__detail ul li .detail h2 {
    font-size: 1.6rem;
    text-align: right;
  }
  .sign-driver__detail ul li .detail p {
    text-align: justify;
  }
  footer .footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
  }
  footer .footer-menu ul {
    display: flex;
    flex-wrap: unset;
    align-items: center;
    justify-content: space-between;
  }
  footer .footer-menu ul li {
    margin: 0;
    border-bottom: 0;
  }
  footer .footer-menu ul li:hover {
    font-weight: 700;
  }
  footer .footer-menu ul li a {
    padding: 0.5rem 0.5rem;
    margin-left: 0.5rem;
  }
  footer .footer-social ul {
    display: flex;
    justify-content: center;
  }
  footer .footer-social ul li {
    margin-left: 2rem;
  }
  footer .footer-social ul li:hover a {
    color: blue;
  }
  footer .footer-social ul li a {
    transition: all 0.4s ease-in-out;
  }
}/*# sourceMappingURL=main.css.map */